button{
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    background-color: cadetblue;
    cursor: pointer;
}
button:hover{
    color: darkgoldenrod;
    background-color: black;
}